# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Laravel/PHP files (not used in Next.js frontend)
*.php
composer.json
composer.lock
artisan
server.php
phpunit.xml
/app/Http/
/app/Console/
/app/Exceptions/
/app/Models/
/app/Providers/
/bootstrap/
/config/
/database/
/routes/
/resources/views/
/resources/lang/
/resources/js/
/storage/
/vendor/
/public/index.php
/public/web.config
/public/mix-manifest.json
/webpack.mix.js
